<ul class="pagination" *ngIf="paginas?.length > 0">

  <li class="page-item" *ngIf="paginator.number > 0">
    <a class="page-link" [routerLink]="['/clientes/page', paginator.number-1]">&laquo;</a>
  </li>

  <li [ngClass]=" paginator.number === 0?'active page-item':'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', 0]">Primera</a>
  </li>

  <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina-1 === paginator.number?'active':''">
    <span class="page-link" *ngIf="pagina - 1 === paginator.number">
      {{ pagina }}
    </span>
    <a class="page-link" *ngIf="pagina - 1 !== paginator.number" [routerLink]="['/clientes/page', pagina - 1]">
      {{ pagina }}
    </a>
  </li>

  <li [ngClass]=" paginator.number === paginator.totalPages-1?'active page-item':'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', paginator.totalPages - 1]">Última</a>
  </li>

  <li class="page-item" *ngIf="paginator.number < paginator.totalPages-1">
    <a class="page-link" [routerLink]="['/clientes/page', paginator.number+1]">&raquo;</a>
  </li>

</ul>
