<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>

<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Clientes</h5>
  <div class="my-2 text-left">
    <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['form']">Crear Cliente</button>
  </div>
    <!--validamos clientes en html-->
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
          <tr>
            <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">Borrar</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td  *ngIf="authService.hasRole('ROLE_USER')">
            <img (click)="abrirModal(cliente)" *ngIf="cliente?.foto" src="http://localhost:8080/api/uploads/img/{{cliente.foto}}"
                 alt="{{cliente.foto}}" class="img-thumbnail rounded" style="width: 64px; cursor: pointer">
            <img (click)="abrirModal(cliente)" *ngIf="!cliente?.foto" src="http://localhost:8080/images/noUsuario.png"
                 alt="Sin Foto" class="img-thumbnail rounded" style="width: 64px; cursor: pointer">
          </td>
          <td>{{ cliente.nombre}}</td>
          <td>{{ cliente.apellido | uppercase}}</td>
          <td>{{ cliente.email}}</td>
          <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="eliminar" (click)="delete(cliente)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-danger" *ngIf="clientes?.length === 0">
      No hay registros en la base de datos.
    </div>
    <paginator-nav *ngIf="paginator" [paginator] = "paginator"></paginator-nav>
  </div>
</div>
