<ul class="alert alert-dark" *ngIf="errores?.length > 0">
  <li class="text-left" *ngFor="let err of errores">{{ err }}</li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2 text-left">Nombre:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre=ngModel>
          <!-- required="required" minlength="4" -->
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Nombre requerido.
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2 text-left">Apellido:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido=ngModel>
          <!-- required="required" minlength="4" -->
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              Apellido requerido.
            </div>
            <div *ngIf="apellido.errors.minlength">
              Apellido debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2 text-left">Email:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel">
          <!-- required="required" email -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Email requerido.
            </div>
            <div *ngIf="email.errors.email">
              Email debe tener un formato válido.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2 text-left">Región:</label>
        <div class="col-sm-6">
          <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region">
            <option [ngValue]="undefined">--- Seleccionar una región ---</option>
            <option *ngFor="let region of regiones" [ngValue]="region">{{ region.nombre }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2 text-left">Fecha:</label>
        <div class="col-sm-6">
          <input [matDatepicker]="miDatepicker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt"
                 style="display: inline; width: 92%;">
          <mat-datepicker-toggle matSuffix [for]="miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker startView="year" [startAt]="startDate"></mat-datepicker>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 ">
          <!--dependiendo si llega un click el botón será crear o actualizar-->
          <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock"
                  [disabled]="!clienteForm.form.valid">Crear
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>

